Flask==3.0.3
Flask-Cors==4.0.1
Flask-SQLAlchemy==3.1.1
Flask-Bcrypt==1.0.1
PyJWT==2.8.0
python-dotenv==1.0.1
gunicorn==22.0.0
tensorflow==2.15.0
numpy==1.26.4
Pillow==10.4.0
opencv-python-headless==4.10.0.84
reportlab==4.2.2
gdown==5.2.0
psycopg2-binary==2.9.9
